<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<div th:include="includes/header"></div>

<!-- Content -->
<section class="uk-section uk-article">
    <div class="uk-container uk-container-small">

        <!-- Alert erreur -->
        <div th:if="${errors != null && errors.size() > 0}" class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <!-- Pour chaque erreur je l'affiche -->
            <p th:each="error : ${errors}" th:text="${error}"></p>
        </div>
        <!-- ./Alert erreur -->

        <!-- // Formulaire  -->
        <form action="/create-movie" method="post" th:object="${movie}" class="uk-form-horizontal">

            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Formulaire - Film</legend>

                <!-- <div class="uk-margin">
                    <input class="uk-input" type="text" th:field="${movie.genre.label}" placeholder="Genre"
                        aria-label="Input">
                </div> -->

                <!-- Champ de saisie title -->
                <div class="uk-margin">
                    <div class="uk-form-label">Titre</div>
                    <div class="uk-form-controls">
                        <!-- Les erreurs du champ title -->
                        <ul th:if="${#fields.hasErrors('title')}">
                            <li class="uk-form-danger" th:each="error : ${#fields.errors('title')}" th:text="${error}">
                            </li>
                        </ul>
                        <input class="uk-input" type="text" th:field="${movie.title}" placeholder="Title"
                            aria-label="Input">
                    </div>
                </div>

                <!-- Champ de saisie year -->
                <div class="uk-margin">
                    <div class="uk-form-label">Année</div>

                    <div class="uk-form-controls">
                        <!-- Les erreurs du champ année -->
                        <ul th:if="${#fields.hasErrors('year')}">
                            <li class="uk-form-danger" th:each="error : ${#fields.errors('year')}" th:text="${error}">
                            </li>
                        </ul>
                        <input class="uk-input" type="number" th:field="${movie.year}" placeholder="Year"
                            aria-label="Input">
                    </div>
                </div>

                <!-- Champ de saisie un realisateur -->
                <div class="uk-margin">
                    <div class="uk-form-label">Realisateur</div>
                    <div class="uk-form-controls">
                        <!-- Les erreurs du champ director -->
                        <ul th:if="${#fields.hasErrors('director')}">
                            <li class="uk-form-danger" th:each="error : ${#fields.errors('director')}"
                                th:text="${error}">
                            </li>
                        </ul>
                        <select class="uk-select" th:field="${movie.director}">
                            <option th:each="participant : ${participantOptions}" th:value="${participant.id}"
                                th:text="${participant.lastname + ' ' + participant.firstname}"></option>
                        </select>
                    </div>
                </div>

                <!-- Champ de saisie durée -->
                <div class="uk-margin">
                    <div class="uk-form-label">Durée</div>
                    <div class="uk-form-controls">
                        <!-- Les erreurs du champ année -->
                        <ul th:if="${#fields.hasErrors('duration')}">
                            <li class="uk-form-danger" th:each="error : ${#fields.errors('duration')}"
                                th:text="${error}">
                            </li>
                        </ul>
                        <input class="uk-input" type="number" th:field="${movie.duration}" placeholder="Duration"
                            aria-label="Input">
                    </div>
                </div>

                <!-- Champ de saisie genre -->
                <div class="uk-margin">
                    <div class="uk-form-label">Genre</div>
                    <div class="uk-form-controls">
                        <!-- Les erreurs du champ director -->
                        <ul th:if="${#fields.hasErrors('genre')}">
                            <li class="uk-form-danger" th:each="error : ${#fields.errors('genre')}" th:text="${error}">
                            </li>
                        </ul>
                        <select class="uk-select" th:field="${movie.genre}">
                            <option th:each="genre : ${genreOptions}" th:value=${genre.id} th:text="${genre.label}">
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Champ de saisie synopsis -->
                <div class="uk-margin">
                    <div class="uk-form-label">Synopsis</div>
                    <div class="uk-form-controls">
                        <!-- Les erreurs du champ synopsis -->
                        <ul th:if="${#fields.hasErrors('synopsis')}">
                            <li class="uk-form-danger" th:each="error : ${#fields.errors('synopsis')}"
                                th:text="${error}"></li>
                        </ul>
                        <textarea class="uk-textarea" th:field="${movie.synopsis}"></textarea>
                    </div>
                </div>

                <!-- Champ de saisie des acteurs -->
                <div class="uk-margin">
                    <div class="uk-form-label">Acteurs</div>
                    <div class="uk-form-controls">
                        <select class="uk-select" th:field="${movie.actors}" multiple>
                            <option th:each="participant : ${participantOptions}" th:value="${participant.id}"
                                th:text="${participant.lastname + ' ' + participant.firstname}"></option>
                        </select>
                    </div>
                </div>

                <!-- Bouton Submit -->
                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-default">Submit</button>
                </div>

            </fieldset>
        </form>

    </div>
</section>
<!-- ./Content -->
<!-- Footer -->
<div th:include="includes/footer"></div>

</html>